html
  include ./head.pug
  body.background-linear-gradient
    include ./navbar.pug
    main.container.my-5
      section
        ul.list-unstyled.row
          each todo, index in todoCards
            li(class="col-4 mb-5")
              .card.shadow(style=`max-width: 20rem; background: ${todo.colorTodo}` data-aos="zoom-in")
                .card-header
                  .row.align-items-center
                    .col-6
                      h5.card-title= todo.titleTodo

                      //- span time #{todo.time}
                    .col-6.d-flex.justify-content-end
                    
                      button.btn.btn-outline-success.me-3(type='button' data-bs-toggle='modal' data-bs-target=`#modal${todo.idTodo}`)
                        svg.bi.bi-elementow-clockwise(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewbox='0 0 16 16')
                          path(fill-rule='evenodd' d='M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z')
                          path(d='M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z')

                      form(action="/deleteTodo", method="post" style="margin-bottom: 0px;" )
                        input(type="text", name="idTodo", value=todo.idTodo, hidden).position-absolute
                        button(class="btn btn-outline-danger" type="submit")
                          svg.bi.bi-file-earmark-minus(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M5.5 9a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z')
                            path(d='M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z')

                - if (todo.textTodo !== "" || todo.timeToTodo)
                  .card-body
                    - if (todo.textTodo !== "")
                      p.card-text= todo.textTodo
                    - if (todo.timeToTodo !== "")

                      - if (todo.timeDaysTodo > 0)
                        p.card-text.text-muted.text-end= todo.timeDaysTodo
                          |  Days
                      - if (todo.timeHours > 0 && todo.timeHours < 23)
                        p.card-text.text-muted.text-end= todo.timeHours
                          |  Hours
                      - if (todo.timeMinutes > 0 && todo.timeMinutes < 60)
                        p.card-text.text-muted.text-end= todo.timeMinutes
                          |  Minutes

              .modal.fade(id=`modal${todo.idTodo}` tabindex='-1' aria-labelledby=`modalLabel${todo.idTodo}` aria-hidden='true')
                .modal-dialog
                  form(action="/changeTodo", method="post").modal-content
                    .modal-header
                      h5(id=`modalLabel${todo.idTodo}`).modal-title.text-success Window changes
                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body

                      //- HIDDEN  
                      input(type="text", name="idTodo", value=todo.idTodo, hidden)

                      //- CHANGE
                      label(class="form-label" for=`changeTitle${todo.idTodo}`) changeTitle
                      input(class="form-control" id=`changeTitle${todo.idTodo}` type="text", name="changeTitle", value=todo.titleTodo).d-block.mb-4
                      
                      label(class="form-label" for=`changeText${todo.idTodo}`) changeText
                      input(class="form-control" id=`changeText${todo.idTodo}` type="text", name="changeText", value=todo.textTodo).d-block.mb-4
                      
                      label(class="form-label" for=`changeColor${todo.idTodo}`) changeColor
                      input.form-control.form-control-color(type='color' name="changeColor" value=`${todo.colorTodo}` id=`changeColor${todo.idTodo}`)
                    
                    .modal-footer
                      button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                      button.btn.btn-success(type='submit') Save changes


    include ./endBody.pug