extends template.pug

block content
  main.container.my-5
    section
      ul.list-unstyled.row
        each todo, index in todoCards

          li(class="col-12 col-lg-4 mb-5" data-aos="fade-up")
            .card.shadow.mx-auto(style=`max-width: 20rem; background: ${todo.colorTodo}`)
              .card-header
                .row.align-items-center
                  .col-6
                    h5.card-title= todo.titleTodo

                  .col-6.d-flex.justify-content-end
                  
                    button.btn.btn-outline-success.me-3(type='button' data-bs-toggle='modal' data-bs-target=`#modal${todo.idTodo}`)
                      svg.bi.bi-elementow-clockwise(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewbox='0 0 16 16')
                        path(fill-rule='evenodd' d='M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z')
                        path(d='M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z')

                    //-DELETE
                    form(action="/deleteTodo", method="post" style="margin-bottom: 0px;" )
                      input(type="text", name="idTodo", value=todo.idTodo, hidden).position-absolute
                      button(class="btn btn-outline-danger" type="submit")
                        svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewBox='0 0 16 16')
                          path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
                          path(fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')

              - if (todo.textTodo !== "" || todo.timeToTodo)
                .card-body
                  - if (todo.textTodo !== "")
                    p.card-text= todo.textTodo
                  - if (todo.timeToTodo !== "")

                    - if (todo.timeDaysTodo > 0)
                      p.card-text.text-muted.text-end= todo.timeDaysTodo
                        |  Days
                    - else if (todo.timeHoursTodo > 0 && todo.timeHoursTodo < 23)
                      p.card-text.text-muted.text-end= todo.timeHoursTodo
                        |  Hours
                    - else if (todo.timeMinutesTodo > 0 && todo.timeMinutesTodo < 60)
                      p.card-text.text-muted.text-end= todo.timeMinutesTodo
                        |  Minutes

          .modal.fade(id=`modal${todo.idTodo}` tabindex='-1' aria-labelledby=`modalLabel${todo.idTodo}` aria-hidden='true')
            .modal-dialog
              //- CHANGE
              form(action="/changeTodo", method="post").modal-content
                .modal-header
                  h5(id=`modalLabel${todo.idTodo}`).modal-title.text-success Window changes
                  button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body

                  input(type="text", name="idTodo", value=todo.idTodo, hidden)

                  label(class="form-label" for=`changeTitle${todo.idTodo}`) changeTitle
                  input(class="form-control" id=`changeTitle${todo.idTodo}` type="text", name="changeTitle", value=todo.titleTodo).d-block.mb-4
                  
                  label(class="form-label" for=`changeText${todo.idTodo}`) changeText
                  input(class="form-control" id=`changeText${todo.idTodo}` type="text", name="changeText", value=todo.textTodo).d-block.mb-4
                  
                  label(class="form-label" for=`changeColor${todo.idTodo}`) changeColor
                  input.form-control.form-control-color(type='color' name="changeColor" value=`${todo.colorTodo}` id=`changeColor${todo.idTodo}`)
                
                .modal-footer
                  button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                  button.btn.btn-success(type='submit') Save changes
